<h1>Here are the users!</h1>

<ul>
<% @users.each do |user| %>
<li>
<% if user == @user %><%= link_to(user.name, user_path(user)) %><% else %><%= link_to(user.name, foreign_path(user)) %><% end %>
<%= image_tag(user.image) %>

<% end %>
</ul>