<div class="container">
    <div class="row">
        <div class="col">
            <h1>Get Started!</h1><br/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Create a Profile:</h2>
        </div>
    </div>
    <div class= "row">
        <div class = "col">
            <%= render 'form'%>
        </div>
    </div>
</div>
