<li><%= post.content %></li>
<li><% if post.image %><%= post.image %><% end %></li>
<li><% if post.emoji %><%= post.emoji %><% end %></li>
<li><% if post.user %><%= link_to(post.user, user_path(post.user)) %><% end %></li>