<h1>Welcome</h1>

<%= form_tag ({controller:'sessions', method:'post', action:'new'}) do %>
    <input type="submit" value="login">
<% end %>

<%= form_tag ({controller:'application', method:'post', action:'create'}) do %>
    <input type="submit" value="signup">
<% end %>
